{{/* Inspired by the following component: https://tachyons.io/components/footers/small-print/index.html*/}}
<footer class="pv4 ph3 ph5-m ph6-l mid-gray">
  <small class="f6 db tc">© {{ now.Format "2006"}} <b>sevDesk</b>., All Rights Reserved</small>
  <div class="f6 db tc">
    <a href="/posts/no-customer-left-behind-supporting-clients-running-legacy-software/">
      <img src="/img/ie_retro.gif" height="40px"/>
      <img src="/img/netscape_retro.gif" height="40px"/>
    </a>
  </div>
  <div class="tc mt3">
    <a href="https://sevdesk.com/legal-notice/" title="Legal Notice / Imprint" class="f6 dib ph2 link mid-gray dim">Legal Notice / Imprint</a>
    <a href="https://sevdesk.com/privacy-policy/" title="Privacy Policy" class="f6 dib ph2 link mid-gray dim">Privacy Policy</a>
    <a href="https://sevdesk.de" title="Language" class="f6 dib ph2 link mid-gray dim">sevDesk.de</a>
    <a href="https://sevdesk.com" title="Language" class="f6 dib ph2 link mid-gray dim">sevDesk.com</a>
  </div>
</footer>